body {
  background-color: #fffbe6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cat {
  position: relative;
  width: 200px;
  height: 200px;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #f9c4d2;
  border-radius: 50%;
  position: relative;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ear {
  width: 60px;
  height: 60px;
  background-color: #f9c4d2;
  position: absolute;
  top: -30px;
  border-radius: 50% 50% 0 0;
  /* transform: rotate(45deg); */
  z-index: 0;
}

.ear.left {
  left: 0;
  transform: rotate(-30deg);
}

.ear.right {
  right: 0;
  transform: rotate(30deg);
}

.eye {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 60px;
}

.eye.left {
  left: 50px;
}
.eye.right {
  right: 50px;
}

.nose {
  width: 16px;
  height: 16px;
  background-color: #d46a6a;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  z-index: 100;
}

.whisker {
  width: 60px;
  height: 2px;
  background-color: #555;
  position: absolute;
  top: 105px;
}

.whisker.left {
  left: -60px;
}

.whisker.right {
  right: -60px;
}